.card {
  background-color: transparent;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.tel {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.tel__name {
  color: black;
}

.form-select {
  max-width: 100px;
}

.grad {
  position: absolute;
  z-index: -777;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#dead45), to(#e38ab8));
  background: linear-gradient(#dead45, #e38ab8);
  background-size: 1000;
  height: 350%;
}
.grad:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#54c9c2), to(#b0dea6));
  background: linear-gradient(#54c9c2, #b0dea6);
  -webkit-animation: fade 10s ease-in-out infinite alternate;
          animation: fade 10s ease-in-out infinite alternate;
}

#loading {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

@-webkit-keyframes ldio-xzmvm3064f {
  0% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ldio-xzmvm3064f {
  0% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.ldio-xzmvm3064f div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 13.3333333333px;
  left: 13.3333333333px;
  background: #e15b64;
  -webkit-animation: ldio-xzmvm3064f 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: ldio-xzmvm3064f 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.ldio-xzmvm3064f div:nth-child(2) {
  top: 13.3333333333px;
  left: 106.6666666667px;
  background: #f47e60;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.ldio-xzmvm3064f div:nth-child(3) {
  top: 106.6666666667px;
  left: 13.3333333333px;
  background: #abbd81;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.ldio-xzmvm3064f div:nth-child(4) {
  top: 106.6666666667px;
  left: 106.6666666667px;
  background: #f8b26a;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.loadingio-spinner-cube-kf3988i8swc {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-xzmvm3064f {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; /* see note above */
}

.ldio-xzmvm3064f div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}/*# sourceMappingURL=main.css.map */